body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #405de6;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

.add-task {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #833ab4;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 3px;
}

button:hover {
    background-color: #5a24a4;
  
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f0f0f0;
}

li:last-child {
    margin-bottom: 0;
}

footer {
    background-color: #405de6;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
